
.avaliacoes-card-inicio {
    padding: 32px;
    margin-bottom: 16px;
    background-color: var(--background-color);
    height: 100%;
    border-radius: 8px;
}

.title-card-avaliacoes-inicio {
    margin-bottom: 12px;
    display: flex;
    align-items: center;

}

.title-card-avaliacoes-inicio h1 {
    color: var(--text-color);
    font-size: 16px;
    font-weight: bold;
    margin: 0 8px;
}

.title-card-avaliacoes-inicio img {
    border-radius: 360px;
    width: 48px;
}

.avaliacoes-card-inicio h2 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 300;
    line-height: 125%;
}
