.carousel-categorias {
    max-width: 100%;
    position: relative;
}

.carousel-categorias-button {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}

.carousel-categorias-button button {
    border: none;
    background: none;
    font-size: 32px;
    color: var(--primary-color);
    border-radius: 8px;
    height: 40px;
    width: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.carousel-categorias-button button:hover {
    backdrop-filter: blur(3px);
    background: var(--bg-button-carousel);
}

.carousel-categorias-button-next {
    right: 0;
    padding-right: 8px;
}

.carousel-categorias-button-prev {
    left: 0;
    padding-left: 8px;
}

.categorias-card-placehoader {
    height: 70px;
    width: 100%;
    border: none;
    border-radius: 12px;
    padding: 8px;
    flex: none;
    transition: 0.2s;
    background: var(--secondary-background-color);
}
