.div-carousel-categorias {
    background: var(--background-color);
    padding: 24px 48px;
    border-bottom: var(--border-color) 3px solid;
}

@media (max-width: 992px) {
    .div-carousel-categorias {
        padding: 24px 12px;
    }
}

@media (min-width: 1600px) {
    .div-carousel-categorias {
        padding: 24px 192px;
    }
}

.veiculos-destaque-div-inicio {
    padding: 24px 48px;
    background: var(--background-color);
    margin: 0 12px;
}

@media (max-width: 992px) {
    .veiculos-destaque-div-inicio {
        padding: 24px 12px;
    }
}

@media (min-width: 1600px) {
    .veiculos-destaque-div-inicio {
        padding: 24px 192px;
    }
}

.button-veiculos-destaque-div-inicio {
    display: flex;
    justify-content: start;
}

.veiculos-destaque-div-inicio h1 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.veiculos-destaque-cards-div-inicio {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 12px;
    gap: 24px;
}

@media (max-width: 992px) {
    .veiculos-destaque-cards-div-inicio {
        grid-template-columns: 1fr;
    }
}

.button-veiculos-destaque-inicio {
    background-color: var(--tertiary-background-color);
    color: var(--text-color);
    font-size:  16px;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 8px;
    transition: 0.2s;
}

.button-veiculos-destaque-inicio:hover {
    background: var(--tertiary-background-color-selected);
}

.avaliacoes-div-inicio {
    padding: 48px;
    display: flex;
    background: var(--primary-color);
}

@media (min-width: 1600px) {
    .avaliacoes-div-inicio {
        padding: 48px 192px;
    }
}

@media (max-width: 992px) {
    .avaliacoes-div-inicio {
        padding: 24px 24px;
    }
}

.avaliacoes-cards-div-inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.avaliacoes-cards-items-inicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

@media (max-width: 992px) {
    .avaliacoes-cards-items-inicio {
        grid-template-columns: 1fr;
    }
}

.avaliacoes-cards-div-inicio h1 {
    color: var(--background-color);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.inicio-spinner {
    height: 100vh;
}

