footer {
    max-width: 100vw;
}

.localizacao-div-inicio {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
    padding: 48px;
}

@media (max-width: 992px) {
    .localizacao-div-inicio {
        grid-template-columns: 1fr;
        padding: 24px;
    }
}

@media (min-width: 1600px) {
    .localizacao-div-inicio {
        padding: 24px 192px 64px 192px;
    }
}

.mapa-div-localizacao-inicio h1 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 24px;
}

.mapa-div-localizacao-inicio {
    width: 100%;
}

.map-localizacao-inicio {
    width: 100%;
    height: 450px;
}

.informacoes-localizacao-container-div-inicio {
    display: flex;
    align-items: center;
}

.informacoes-localizacao-div-inicio {
    max-width: 100%;
}

.informacoes-localizacao-div-inicio h1 {
    color: var(--text-color);
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 24px;
}

.informacao-localizacao-card-inicio {
    border-bottom: solid 1px var(--primary-color);
    padding: 16px;
    display: flex;
}

.informacao-localizacao-card-inicio h2 {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 300;
    margin: 4px 4px 4px 8px;
}

.icon-informacao-localizacao-card-inicio {
    color: var(--primary-color);
    font-size: 22px;
}

.direitos-autorais-footer {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 12px;
    background: var(--secondary-background-color);
}

.direitos-autorais-footer h3 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.direitos-autorais-footer img {
    height: 20px;
    margin-left: 8px;
}
