.veiculos {
    background: var(--background-color);
    display: grid;
    max-width: 100vw;
}

.veiculos-filter-open {
    grid-template-columns: 20% 80%;
}

@media (max-width: 992px) {
    .veiculos-filter-open {
        grid-template-columns: 100%;
    }
}

.veiculos-filter-close {
    grid-template-columns: 100%;
}

.veiculos-filtro {
    min-height: 100vh;
    height: 100%;
    border-right: var(--border-color) 1px solid;
    padding: 16px;
}

.veiculos-filter-open .veiculos-filtro {
    display: block;
}

.veiculos-filter-close .veiculos-filtro {
    display: none;
}

@media (max-width: 992px) {
    .veiculos-filtro {
        min-height: auto;
    }
}

.veiculos-filtro-div {
    margin-bottom: 32px;
}

.veiculos-filtro-div-title {
    color: var(--text-color);
    font-size: 18px;
    margin-bottom: 12px;
}

.veiculos-filtro-div-button {
    border: none;
    background: var(--secondary-background-color);
    border-radius: 8px;
    width: 100%;
    padding: 4px;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 8px;
    font-size: 14px;
}

.veiculos-filtro-div-preco-input {
    border: var(--border-color) 1px solid;
    border-radius: 8px;
    display: flex;
    margin-bottom: 8px;
    background: var(--secondary-background-color);
}

.veiculos-filtro-div-preco-input span {
    padding: 8px 8px 8px 12px;
    border-right: var(--border-color) 1px solid;
    margin-right: 8px;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 300;
}

.veiculos-filtro-div-preco-input input {
    background: transparent;
    border: none;
    width: 100%;
    color: var(--contrast-color);
    font-weight: 300;
}

.veiculos-filtro-div-preco-input input::placeholder {
    color: var(--placeholder-color);
    font-size: 14px;
    font-weight: 300;
}

.veiculos-filtro-div-preco-input input:focus {
    outline: none;
}

.veiculos-cards {
    padding: var(--spacing-lg);
}

.veiculos-cards-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--spacing-lg);
}

@media (max-width: 992px) {
    .veiculos-cards-title {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--spacing-md);
    }
}

.veiculos-cards-title input {
    border-radius: var(--border-radius-md);
    border: var(--border-color) 1px solid;
    background: var(--secondary-background-color);
    padding: 8px 16px;
    color: var(--text-color);
    font-weight: 300;
}

@media (max-width: 992px) {
    .veiculos-cards-title input {
        width: 100%;
    }
}

.veiculos-cards-title input:focus {
    outline: none;
}

.veiculos-cards-title input::placeholder {
    color: var(--placeholder-color);
    font-weight: 300;
}

.veiculos-cards-title-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 992px) {
    .veiculos-cards-title-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-md);
    }
}

.veiculos-cards-title-buttons-filter {
    position: relative;
}

.veiculos-cards-title-buttons-filter-count {
    position: absolute;
    top: -15%;
    left: -5%;
    background: var(--contrast-color);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    font-weight: 800;
}

.veiculos-cards-title-buttons button {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-left: 16px;
    color: var(--text-color);
}

@media (max-width: 992px) {
    .veiculos-cards-title-buttons button {
        width: 100%;
        margin: 0;
    }
}

.veiculos-cards-encontrados {
    color: var(--text-color);
    font-size: var(--font-size-xl);
    font-weight: 300;
    margin-top: var(--spacing);
}

.veiculos-cards-encontrados span {
    font-weight: 500;
    margin-right: var(--spacing-sm);
}

.veiculos-cards-items {
    margin-top: var(--spacing);
    display: grid;
    gap: var(--spacing-lg);
}

.veiculos-filter-open .veiculos-cards-items {
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 992px) {
    .veiculos-filter-open .veiculos-cards-items {
        grid-template-columns: 1fr;
    }
}

.veiculos-filter-close .veiculos-cards-items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 992px) {
    .veiculos-filter-close .veiculos-cards-items {
        grid-template-columns: 1fr;
    }
}



