.image-card-veiculo-estoque {
    margin-bottom: 12px;
    max-width: 100%;
}

.carousel-card {
    width: 100%;
    height: auto;
}

.div-card-carousel {
    width: 100%;
    height: 35vh;
    background-color: var(--text-color);
}

@media (max-width: 992px) {
    .div-card-carousel {
        height: 30vh;
    }
}

.div-card-carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-div-card {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0 ;
}

