.div-options-filtro-veiculos {
    border-bottom: var(--secondary-background-color) 1px solid;
}

.margin-div-options-filtro-veiculos {
    padding-bottom: 24px;
}

.div-options-filtro-veiculos h1 {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 16px;
}

.div-options-radios-veiculos {
    display: flex;
}

.div-options-filtro-veiculos h1 {
    font-size: 16px;
    color: var(--text-color);
    margin: 0;
}

.div-options-filtro-veiculos input[type="radio"] {
    appearance: none;
    width: 15px;
    height: 15px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    margin-right: 12px;
    outline: none;
    cursor: pointer;
    transition: 0.2s;
}

input[type="radio"]:checked {
    background: var(--primary-color);
    width: 15px;
    height: 15px;
    margin-right: 16px;
}

input[type="radio"]:checked + label {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
}

.div-options-filtro-veiculos label {
    font-size: 14px;
    margin-right: 12px;
    color: var(--text-color);
    font-weight: 300;
}

.div-options-radios-veiculos {
    display: grid;
    grid-template-columns: 100%;
}

.button-collapse-filtros-option {
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px 0;
}

.icon-button-collapse-filtros-option {
    color: var(--primary-color);
    transition: 0.2s;
}

.giro-open-iscon-button-collapse-filtro {
    rotate: -90deg;
}
